<%- include ('./components/header') %>

<div class="container">



    <table class="table text-white">
        <thead>
            <tr>
              <th scope="col" style="width: 65%">Forum</th>
              <th scope="col" style="width: 15%">Teme</th>
              <th scope="col" style="width: 20%">Postovi</th>
            </tr>
        </thead>
        <tbody>
        <%
        if(forums)
        forums.forEach(function(subforum) { %>
            <tr>
                <td><h4><a class="text-white" href="subforum/<%=subforum.name %>"><%=subforum.name %></a></h4></td>
                <td><%= subforum.threadcount %></td>
                <td><%= subforum.postcount %></td>
            </tr>
        <% });  %>
        </tbody>     
    </table>
</div>



<%- include ('./components/footer') %>