<%- include ('./components/header') %>

<div class="container">

    <div class="mb-3 float-right">
        <% if(currentUser && currentUser.status == 'admin') { %>           
            <a class="btn btn-secondary" href="/subforum/new">New subforum</a>
        <% } %>
    </div>


    <table class="table text-white table-dark">
        <thead>
            <tr>
              <th scope="col" style="width: 65%">Forum</th>
              <th scope="col" style="width: 15%">Threads</th>
              <th scope="col" style="width: 20%">Posts</th>
            </tr>
        </thead>
        <tbody>
        <%
        if(forums)
        forums.forEach(function(subforum) { %>
            <tr>
                <td><h4 class="mb-0"><a class="text-white" href="subforum/<%=subforum.name %>"><%=subforum.name %></a></h4>
                    <small><%=subforum.description %></small>
                </td>
                <td><%= subforum.threadcount %></td>
                <td><%= subforum.postcount %></td>
            </tr>
        <% });  %>
        </tbody>     
    </table>




</div>

<%- include ('./components/errorPopup') %>
<%- include ('./components/footer') %>