<%- include ('../components/header') %>

<div class="container">

    <div class="mb-2">
        <a class="text-white" href="/">Forum</a> > 
        <a class="text-white" href="/subforum/<%= subforum.name %>"><%= subforum.name %></a>
    </div>

    <h2><%= subforum.name %></h2>

    <form method="POST" action="/threads/add">

        <input type="text" name="subforum" value="<%= subforum.id %>" hidden>
        <input type="text" class="form-control" name="title" placeholder="Title" required>
        <br>

        <%- include ('../components/writePost',  {text: null}) %> 
        <%- include ('../components/error') %> 
    </form>
 
</div>



<%- include ('../components/footer') %>