<%- include ('../components/header') %>

<div class="container">

    <div class="mb-2">
        <a class="text-white" href="/">Forum</a> > 
        <a class="text-white" href="<%= subforum.name %>"><%= subforum.name %></a>
    </div>
    
    <div class="row mb-2">
        <h2 class="col-auto mr-auto"><%= subforum.name %></h2>

        <% if(currentUser) { %>           
            <a class="btn btn-secondary mb-1 col-auto" href="<%= subforum.name %>/threads/new">Nova tema</a>
        <% } %>
    </div>    

    <table class="table table-sm text-white">
        <thead>
            <tr>
              <th scope="col" style="width: 65%">Naziv teme</th>
              <th scope="col" style="width: 15%">Postovi</th>
              <th scope="col" style="width: 20%">Poslednji post</th>
            </tr>
        </thead>
        <tbody>
        <%
        if(threads)
        threads.forEach(function(thread) { %>
            <tr>
                <td><h5><a class="text-white" href="/threads/<%=thread.id %>"><%=thread.title %></a></h5></td>
                <td><%= thread.postcount %></td>
                <td><%= new Intl.DateTimeFormat('en-GB', { year: 'numeric', month: 'short', day: '2-digit', hour: 'numeric', minute: 'numeric'}).format(thread.lastpost) %></td>
            </tr>
        <% });  %>
        </tbody>     
    </table>
</div>



<%- include ('../components/footer') %>