<%- include ('../components/header') %>

<div class="container">

    <div class="mb-2">
        <a class="text-white" href="/">Forum</a> > 
        <a class="text-white" href="<%= subforum.name %>"><%= subforum.name %></a>
    </div>
    

    <div class="d-flex justify-content-between">
        <h2><%= subforum.name %></h2>
        <% if(currentUser) { %>           
            <a class="btn btn-secondary mb-1" href="<%= subforum.name %>/threads/new">New thread</a>
        <% } %>
    </div> 
    <p><small><%= subforum.description %></small></p>

    <table class="table table-sm text-white table-dark">
        <thead>
            <tr>
              <th scope="col" style="width: 65%">Thread</th>
              <th scope="col" style="width: 15%">Posts</th>
              <th scope="col" style="width: 20%">Last post</th>
            </tr>
        </thead>
        <tbody>
        <%
        if(threads)
        threads.forEach(function(thread) { %>
            <tr>
                <td><h5><a class="text-white" href="/threads/<%=thread.id %>"><%=thread.title %></a></h5></td>
                <td><%= thread.postcount %></td>
                <td><%= new Intl.DateTimeFormat('en-GB', { year: 'numeric', month: 'short', day: '2-digit', hour: 'numeric', minute: 'numeric'}).format(thread.lastpost) %></td>   
            </tr>
        <% });  %>
        </tbody>     
    </table>

    <% if(currentUser && currentUser.status == 'admin') { %>
        <div class="float-right">
            <a class="btn btn-danger mt-1" href="/subforum/<%= subforum.name %>/delete" 
            onclick="return confirm('Are you sure you want to delete this subforum? All of the threads in this subforum will be removed as well!')">Delete subforum</a>
        </div>
    <% } %>
</div>

<%- include ('../components/errorPopup') %>
<%- include ('../components/footer') %>